:root {
  --color-primary: hsl(26, 100%, 55%);
  --color-primary-pale: hsl(25, 100%, 94%);
  --color-heading: hsl(220, 13%, 13%);
  --color-body: hsl(220, 14%, 75%);
  --color-link: hsl(219, 9%, 45%);
  --color-secondary: hsl(223, 64%, 98%); /* used for minus / plus buttons */
  --color-background: hsl(0, 0%, 100%);
  --color-lightbox-bg: hsla(0, 0%, 0%, 75%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* The Generic Container Rule */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
body {
  background: var(--color-background);
  font-family: Kumbh Sans, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: var(--color-body);
}

@media screen and (min-width: 1440px) {
}

/* Lists */
.list {
  font-weight: 400;
  list-style: none;
  padding-left: 0;
}

.list a {
  text-decoration: none;
  color: var(--color-link);
}

.list a:hover {
  filter: brightness(0.5);
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

/* Shadow over page for lightbox, and for sidenav */
.shadow {
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-lightbox-bg);
  width: 100%;
  height: 100%;
  position: fixed;
  /* TODO make fade in and out */
  -webkit-transition: visibility 0.5s, opacity 0.5s;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 1;
}

/* Sidenav bar, exists on mobile only */
.sidenav {
  background-color: var(--color-background);
  height: 100%;
  left: 0;
  overflow-x: hidden; /* no horizontal scroll */
  position: fixed;
  top: 0; /* stay on top */
  transition: 0.5s; /* slide in from left */
  width: 0; /* default width. is changed by javascript */
  z-index: 2;
}

.sidenav__list {
  padding-top: 4rem;
  padding-left: 2.8rem;
}

.sidenav__list a {
  color: var(--color-heading);
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 1.5rem 0;
}

.sidenav__list a:hover {
  color: var(--color-primary);
}

.sidenav__close {
  cursor: pointer;
  height: 20px;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  width: 20px;
}

@media screen and (min-width: 1440px) {
  .sidenav,
  .shadow {
    display: none;
  }
}

/* Navigation bar */
.nav {
  align-items: center;
  display: flex;
  --nav-bar-height: 6.2rem;
  height: var(--nav-bar-height);
  padding: 0 2rem;
}

.nav__brand {
}

.nav__list {
}

.nav__item {
}

.nav__toggler,
.nav__cart {
  cursor: pointer;
}

.nav__toggler {
  margin-right: 15px;
}

.nav__cart {
  margin-left: auto;
  transition: filter 0.2s;
}

.nav__cart:hover {
  filter: brightness(0.1);
}

.nav__avatar {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  width: 25px;
  height: 25px;
  transition: border-color 0.2s;
}

.nav__avatar:hover {
  border-color: var(--color-primary);
}

/* hide list when not expanded */
.nav__list {
  display: none;
}

.nav.collapsible--expanded .collapsible__content {
  /*background: var(--color-lightbox-bg);*/
}

@media screen and (min-width: 1440px) {
  /*
    - make list show side by side on wide navbar
    - remove menu icon
    - hovering over a list item makes text darker and bottom orange border shows
    - larger avatar
  */
  .nav {
    border-bottom: 3px solid var(--color-secondary);
    height: 10.2rem;
    padding: 0;
  }

  .nav__brand {
    margin-right: 1.5rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__avatar {
    height: 50px;
    width: 50px;
    margin-left: 40px;
  }

  .nav__list {
    display: inline;
    list-style-type: none;
    overflow: hidden;
  }

  .nav__item {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: calc(100% - 4px);
    padding: 3.9rem 0;
    margin: 0 1.5rem;
  }

  .nav__item:hover {
    border-bottom: 4px solid var(--color-primary);
  }

  .nav__item a {
    height: calc(100% - 4px);
  }
}

/* Buttons */
.btn {
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: filter 0.2s;
  outline: 0;
  font-weight: 700;
  white-space: nowrap;
}

.btn--block {
  border-radius: 12px;

  background-color: var(--color-primary);
  padding: 2rem 4vw;
  color: white;
  min-width: 100%;
}

.btn--circle {
  background-color: white;
  padding: 1.8rem;
  border-radius: 50%;
}

.btn--shadow {
  box-shadow: 0 40px 70px -10px var(--color-primary);
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.btn--block .icon {
  margin-right: 1rem;
  filter: brightness(4);
}

.btn--circle .icon {
  width: 1.7rem;
  filter: brightness(0.1);
}

.btn--block:hover {
  filter: brightness(1.1);
}

.btn--circle:hover {
  filter: brightness(0.9);
}

/* Product info block */
.product {
  margin: 2rem;
}

.product__company {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 1rem;
}

.product__name {
  color: var(--color-heading);
}

.product__description {
  color: var(--color-body);
}

/* Attribution bar at bottom */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
