:root {
  --color-primary: hsl(26, 100%, 55%);
  --color-primary-pale: hsl(25, 100%, 94%);
  --color-heading: hsl(220, 13%, 13%);
  --color-body: hsl(220, 14%, 75%);
  --color-text: hsl(219, 9%, 45%);
  --color-secondary: hsl(223, 64%, 98%); /* used for minus / plus buttons */
  --color-background: hsl(0, 0%, 100%);
  --color-lightbox-bg: hsla(0, 0%, 0%, 75%);
  --color-horizontal-line: #e4e9f4;
}

/* 
   General tablet breakpoint: 768px
   General desktop breakpoint: 1200px
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* The Generic Container Rule */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
body {
  background: var(--color-background);
  font-family: Kumbh Sans, Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: var(--color-body);
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }

  .main-grid-container {
    grid-gap: 4rem;
    /*grid-template-columns: minmax(0, 1fr) 50%;*/
    margin-top: 8rem;
    max-width: 1015px;
  }
}

@media screen and (min-width: 1200px) {
  .main-grid-container {
    grid-gap: 10rem;
  }
}

/* Lists */
.list {
  font-weight: 400;
  list-style: none;
  padding-left: 0;
}

.list a {
  text-decoration: none;
  color: var(--color-text);
}

.list a:hover {
  filter: brightness(0.5);
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

/* styling for shadow over page. for lightbox and for sidenav */
.shadow {
  background-color: var(--color-lightbox-bg);
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-transition: visibility 0.5s, opacity 0.5s;
  transition: visibility 0.5s, opacity 0.5s;
  z-index: 2;
}

.shadow--sidenav {
  visibility: hidden;
  opacity: 0;
}

.shadow--slideshow {
  visibility: hidden;
  opacity: 0;
}

/* Sidenav bar, exists on mobile only */
.sidenav {
  background-color: var(--color-background);
  height: 100%;
  left: 0;
  overflow-x: hidden; /* no horizontal scroll */
  position: fixed;
  top: 0; /* stay on top */
  transition: 0.5s; /* slide in from left */
  width: 0; /* default width. is changed by javascript */
  z-index: 3;
}

.sidenav__list {
  padding-top: 3rem;
  padding-left: 2.8rem;
}

.sidenav__list a {
  color: var(--color-heading);
  display: block;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 0;
}

.sidenav__list a:hover {
  color: var(--color-primary);
}

.sidenav__close {
  cursor: pointer;
  height: 20px;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .sidenav,
  .shadow--sidenav {
    display: none;
  }
}

/* Navigation bar */
.nav {
  align-items: center;
  display: flex;
  --nav-bar-mobile-height: 6.2rem;
  height: var(--nav-bar-mobile-height);
  padding: 0 2rem;
}

.nav__toggler,
.nav__cart-container {
  cursor: pointer;
}

.nav__toggler {
  margin-right: 15px;
}

.nav__cart-container {
  margin-left: auto;
  position: relative;
}

.nav__cart-container:hover .nav__cart {
  filter: brightness(0.1);
}

.nav__cart {
  transition: filter 0.2s;
}

.nav__cart-badge {
  background-color: var(--color-primary);
  border-radius: 12px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  padding: 0.1rem 0.7rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav__avatar {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
  width: 25px;
  height: 25px;
  transition: border-color 0.2s;
}

.nav__avatar:hover {
  border-color: var(--color-primary);
}

/* hide list when not expanded */
.nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  /*
    - make list show side by side on wide navbar
    - remove menu icon
    - hovering over a list item makes text darker and bottom orange border shows
    - larger avatar
  */
  .nav {
    border-bottom: 1px solid var(--color-horizontal-line);
    --nav-bar-height-2: 11.5rem;
    height: var(--nav-bar-height-2);
    padding: 0;
    margin: 0 2rem;
  }

  .nav__brand {
    margin-right: 1.5rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__avatar {
    height: 50px;
    width: 50px;
    margin-left: 40px;
  }

  .nav__list {
    display: inline;
    font-size: 1.5rem;
    height: var(--nav-bar-height-2);
    list-style-type: none;
    overflow: hidden;
    margin-left: 3rem;
  }

  .nav__item {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    display: inline-block;
    height: 100%;
    padding: 5rem 0 0;
    margin: 0 1.5rem;
    transition: border-bottom 0.1s;
  }

  .nav__item:hover {
    border-bottom: 4px solid var(--color-primary);
  }

  .nav__item a {
    height: calc(100% - 4px);
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin: 0 auto;
  }
}

/* Buttons */
.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
  text-align: center;
  white-space: nowrap;
}

.btn--block {
  background-color: var(--color-primary);
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1.8rem 4vw;
  text-align: center;
  transition: opacity 0.3s;
  width: 100%;
}

.btn--circle {
  --btn-icon-orig-width: 2rem;
  background-color: white;
  padding: 1.2rem 1.4rem;
  border-radius: 50%;
  transition: filter 0.2s;
}

.btn--shadow {
  box-shadow: 0 30px 60px -20px var(--color-primary);
}

.btn .icon {
  width: var(--btn-icon-orig-width);
  height: var(--btn-icon-orig-width);
  vertical-align: middle;
}

.btn--block .icon {
  margin-right: 1rem;
  filter: brightness(4); /* makes icon white */
}

.btn--circle .icon {
  width: calc(var(--btn-icon-orig-width) - 0.5rem);
  filter: brightness(0.1);
}

.btn--block:hover {
  opacity: 0.8;
}

.btn--circle:hover {
  filter: brightness(0.9);
}

/* Count button, which is really a div with 2 buttons in it */
.product__count-button {
  background-color: var(--color-secondary);
  border-radius: 12px;
  border: 0;
  color: var(--color-heading);
  display: flex;
  font-weight: 700;
  font-size: 2rem;
  justify-content: space-between;
  margin: 2rem 0;
  outline: 0;
  padding: 0.8rem 1rem;
  text-align: center;
  white-space: nowrap;
}

.product__count-button .btn {
  background-color: var(--color-secondary);
  padding: 1rem;
  transition: opacity 0.3s;
}

.product__count-button .btn:hover {
  opacity: 0.6;
}

#item-amount {
  padding-top: 1rem;
}

.icon--count {
  width: 1.2rem;
  height: 1.2rem;
}

/* to make the icon-minus.svg look right */
.icon-sub {
  height: calc(1.2rem / 2);
}

.product__button-grid {
  display: grid;
}

@media screen and (min-width: 1200px) {
  .btn--circle {
    padding: 1.8rem 2rem;
  }

  .product__button-grid {
    grid-template-columns: 35% auto;
    grid-gap: 1.5rem;
    align-items: center;
  }
}

/* Product info block */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem 2rem;
}

.product__company {
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
}

.product__name {
  color: var(--color-heading);
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.product__description {
  color: var(--color-text);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

@media screen and (min-width: 1200px) {
  .product {
    margin: 2rem;
  }
  .product__name {
    font-size: 4.4rem;
  }
}

/* Pricing information */
.price-section {
  align-items: center;
  display: grid;
  font-weight: 700;
  grid-auto-flow: column; /* puts all into one row */
  padding: 1rem 0;
}

.price-section-segment {
  display: flex;
}

.price-sale {
  color: var(--color-heading);
  font-size: 2.8rem;
}

.price-deal {
  background-color: var(--color-primary-pale);
  border-radius: 0.5rem;
  color: var(--color-primary);
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
  margin: auto 1.5rem;
  text-align: center;
}

.price-original {
  font-size: 1.5rem;
  margin-left: auto;
  text-decoration: line-through;
}

@media screen and (min-width: 1200px) {
  /*
  - different text sizes
  - move original price to a lower line
*/
  .price-section {
    grid-auto-flow: unset;
  }

  .price-original {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Image Slideshow */
.slideshow {
  width: 100%;
}

.slideshow__image {
  display: none;
  position: relative;
}

.slideshow__image--lightbox {
  display: block;
}

.slideshow__image > img {
  object-fit: cover;
  width: 100%;
  max-height: 50rem;
}

.slideshow__image--lightbox > img {
  width: 100%;
}

.slideshow__buttons {
  position: relative;
  bottom: 55%;
  width: 100%;
}

.slideshow__previous {
  position: absolute;
  left: 1.5rem;
}

.slideshow__next {
  position: absolute;
  right: 1.5rem;
}

.slideshow__thumbnails-row {
  display: none;
}

.shadow--slideshow {
  display: none;
}

@media screen and (min-width: 768px) {
  /*
  - arrow buttons go away
  - thumbnail gallery appears below main image 

*/
  .slideshow {
    margin-left: 1rem;
  }

  .slideshow__buttons--main {
    display: none;
  }

  .slideshow__thumbnail {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .slideshow__image > img {
    width: 100%;
    max-height: 100%;
  }

  .slideshow__thumbnail,
  .slideshow__thumbnail--lightbox {
    cursor: pointer;
  }

  .slideshow__image img,
  .slideshow__image--lightbox img,
  .slideshow__thumbnail,
  .slideshow__thumbnail--lightbox,
  .slideshow__thumbnail--lightbox-container {
    border-radius: 1.5rem;
  }

  .slideshow__thumbnail,
  .slideshow__thumbnail--lightbox {
    border: 3px solid rgba(0, 0, 0, 0);
    transition: opacity 0.3s;
  }

  .slideshow__thumbnails-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
    /* overflow: auto; /* to account for more thumbnail images, potentially */
  }

  .slideshow__thumbnail:hover,
  .slideshow__thumbnail--lightbox:hover {
    opacity: 0.4;
  }

  .active {
    opacity: 0.4;
    border: 2px solid var(--color-primary);
  }
}

@media screen and (min-width: 1200px) {
  .slideshow {
    margin: 0 auto;
  }

  .slideshow__image img {
    cursor: pointer;
  }

  #slideshow__image-container {
    transition: opacity 0.3s;
  }

  #slideshow__image-container:hover {
    opacity: 0.8;
  }
}

/* Lightbox. Available in desktop mode*/
.lightbox {
  display: none;
}

.lightbox__close {
  cursor: pointer;
  left: 96%;
  height: 20px;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-top: 2.5rem;
  position: relative;
  filter: brightness(5);
  transition: filter 0.1s;
  width: 20px;
}

.lightbox__close:hover {
  filter: invert(76%) sepia(52%) saturate(6403%) hue-rotate(347deg)
    brightness(101%) contrast(101%);
}

@media screen and (min-width: 1200px) {
  /*
  - clicking on main image brings up lightbox version of slideshow 
  - arrow buttons return
  - thumbnail gallery returns
*/

  .lightbox {
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .shadow--slideshow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;

    z-index: 3;
  }

  .slideshow--lightbox {
    max-width: 55rem;
    margin: 3rem auto 3rem auto;
    width: 33%;
  }

  .slideshow__image-lightbox-imgs-and-buttons {
    position: relative;
  }

  .slideshow__buttons--lightbox {
    position: absolute;
    transform: translate(0, -50%);
  }

  .slideshow__buttons--lightbox .slideshow__previous:hover img,
  .slideshow__buttons--lightbox .slideshow__next:hover img {
    filter: invert(76%) sepia(52%) saturate(6403%) hue-rotate(347deg)
      brightness(101%) contrast(101%);
  }

  .slideshow__previous img,
  .slideshow__next img {
    transition: filter 0.3s;
  }

  .slideshow__buttons--lightbox .slideshow__previous {
    margin-left: -4rem;
  }

  .slideshow__buttons--lightbox .slideshow__next {
    margin-right: -4rem;
  }

  .slideshow--lightbox .slideshow__thumbnails-row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .slideshow__thumbnail--lightbox-container {
    background-color: white;
  }

  .slideshow__thumbnail--lightbox {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}

/* Cart card */
.cart-card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  max-width: 1350px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.cart-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 30px 60px -20px rgba(124, 120, 120, 0.75);
  display: block;
  margin: 1rem auto 0;
  max-width: 40rem;
  padding: 1.5rem 2rem 3rem 2rem;
  pointer-events: auto;
  width: 95%;
  z-index: 1;
}

.cart-card__title {
  border-bottom: 1px solid var(--color-horizontal-line);
  color: var(--color-heading);
  font-weight: 700;
  padding-bottom: 1rem;
}

.cart-card__items {
  align-items: center;
  color: var(--color-text);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.cart-card__items--empty {
  color: var(--color-text);
  text-align: center;
  font-weight: 700;
  padding: 5rem 0;
}

.cart-card__item {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.cart-card__item p {
  margin: 0.8rem;
  font-size: 1.6rem;
  text-overflow: ellipsis;
}

.cart-card__item b {
  color: var(--color-heading);
}

.cart-card__item-img {
  border-radius: 5px;
  width: 5.3rem;
}

.cart-card__delete {
  cursor: pointer;
  justify-self: end;
  transition: filter 0.1s;
}

.cart-card__delete:hover {
  filter: brightness(0.6);
}

.cart-card__checkout {
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 5.3rem;
  width: 100%;
}

/* make it lean closer to rightside of page as it reaches its max-width */
@media screen and (min-width: 400px) {
  .cart-card {
    margin: -1.5rem 1% auto;
    justify-self: end;
  }
}

/* Attribution bar at bottom */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
