<button class="btn btn--block">Checkout</button>

<button class="btn btn--block btn--shadow">
    <img class="icon" src="images/icon-cart.svg" alt=""></img>
    Add to cart
  </button>

  <button class="btn btn--circle">
    <img src="images/icon-previous.svg" alt="" class="icon" />
  </button>
 
  <div class="count-button">
    <button class="btn" onclick="subAmount()"><img class="icon--count icon-sub" src="images/icon-minus.svg" alt=""></img></button>
    <div id="item-amount">0</div>
    <button class="btn" onclick="addAmount()"><img class="icon--count" src="images/icon-plus.svg" alt=""></img></button>
  </div>
