<!--Cart card-->
<div class="cart-card-container">
    <div id="cart-card" class="cart-card">
      <p class="cart-card__title">Cart</p>
      <!--This would be a list of items in a real app-->
      <div class="cart-card__items">
        <div class="cart-card__item">
          <img
                src="images/image-product-1-thumbnail.jpg"
                alt=""
                class="cart-card__item-img"
          />
          <div>
            <p class="cart-card__item-title">Fall Limited Edition Sneakers</p>
            <p class="cart-card__item-pricing">$125.00 x 3 <b>$375.00</b></p>
          </div>
    
          <img class="cart-card__delete " src="images/icon-delete.svg"></img>
        </div>
        <button class="btn btn--block cart-card__checkout">Checkout</button>
      </div>
    </div>
  </div>