<!-- Nav bar with logo, shopping cart and profile picture. 
    Mobile: menu icon, logo, cart and profile pic. menu icon opens up sidenavbar.
    Desktop: logo, 5 list items horizontal, whitespace, cart, profile picture. 
-->
<nav class="nav container">
    <img class="nav__toggler" src="images/icon-menu.svg" onclick="openSideNav()"></img>
    <a href="/" class="nav__brand"><img src="images/logo.svg" alt="" /></a>
    <ul class="list nav__list">
      <li class="nav__item"><a href="#">Collections</a></li>
      <li class="nav__item"><a href="#">Men</a></li>
      <li class="nav__item"><a href="#">Women</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
    </ul>
    <img class="nav__cart" src="images/icon-cart.svg" alt="Shopping Cart"></img>
    <img class="nav__avatar" src="images/image-avatar.png" alt="" />
  </nav>