<!-- Nav bar with logo, shopping cart and profile picture. 
    Mobile: menu icon, logo, cart and profile pic. menu icon opens up sidenavbar.
    Desktop: logo, 5 list items horizontal, whitespace, cart, profile picture. 
-->
<nav class="nav container">
  <img
    class="nav__toggler"
    src="images/icon-menu.svg"
    alt="Toggle navigation sidebar"
    onclick="openSideNav()"
  />
  <a href="/" class="nav__brand"
    ><img src="images/logo.svg" alt="Sneakers brand logo"
  /></a>
  <ul class="list nav__list">
    <li class="nav__item"><a href="#">Collections</a></li>
    <li class="nav__item"><a href="#">Men</a></li>
    <li class="nav__item"><a href="#">Women</a></li>
    <li class="nav__item"><a href="#">About</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
  <span class="nav__cart-container" onclick="toggleCartCard()">
    <img class="nav__cart" src="images/icon-cart.svg" alt="Shopping Cart" />
    <span id="nav__cart-badge" class="nav__cart-badge"></span>
  </span>
  <img class="nav__avatar" src="images/image-avatar.png" alt="Avatar" />
</nav>
