<!--
    Contains product information. company name, product name,
    description, pricing information, and buttons to add to cart
    and to change amount to add. 

    put this and img gallery in div.grid.grid--1x2
-->
<!--Note this goes into a <div class="grid grid--1x2 container main-grid-container"> with the product-info section-->
<!--Product info section-->
<section class="product container">
  <header>
    <h2 class="product__company">Sneaker Company</h2>
    <h1 class="product__name">Fall Limited Edition Sneakers</h1>
  </header>
  <p class="product__description">
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they’ll withstand everything the weather can
    offer.
  </p>
  <div class="price-section">
    <span class="price-section-segment">
      <span class="price-sale">$125.00</span>
      <span class="price-deal">50%</span>
    </span>
    <span class="price-original">$250.00</span>
  </div>
  <div class="product__button-grid">
    <div class="product__count-button">
      <button class="btn" onclick="subAmount()">
        <img
          class="icon--count icon-sub"
          src="images/icon-minus.svg"
          alt="Add less to cart"
        />
      </button>
      <div id="item-amount">0</div>
      <button class="btn" onclick="addAmount()">
        <img
          class="icon--count"
          src="images/icon-plus.svg"
          alt="Add more to cart"
        />
      </button>
    </div>
    <button class="btn btn--block btn--shadow" onclick="addToCart()">
      <img class="icon" src="images/icon-cart.svg" alt="Add items to cart" />
      Add to cart
    </button>
  </div>
</section>
