<!--
    Contains product information. company name, product name,
    description, pricing information, and buttons to add to cart
    and to change amount to add. 
-->
<section class="product container">
  <header>
    <h2 class="product__company">Sneaker Company</h2>
    <h1 class="product__name">Fall Limited Edition Sneakers</h1>
  </header>
  <p class="product__description">
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they’ll withstand everything the weather can
    offer.
  </p>
</section>
